.btn {
  margin-left: 10px;
  background-color: pink;
  border-color: pink;
}

.dictionary h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.dictionary section {
  background: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgb(0 0 0/10%);
  margin: 20px 40px;
}
.dictionary input {
  width: 30%;
  padding: 10px 8px;
  border: 1px solid #ddd;
}
.dictionary .hint {
  font-size: 12px;
  margin-top: 5px;
}
.dictionary .intro {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
